Language:                       Cpp
BasedOnStyle:                   Google
IndentWidth:                    4
ColumnLimit:                    120
SortIncludes:                   true
MaxEmptyLinesToKeep:            2
AccessModifierOffset:	        -4